---
layout: slides
---

<section>
  <h2>Links and Menus</h2>
</section>

<!-- Links
___________________________________________________________________-->


<section>
  <h2>Links</h2>
  {% capture code %}<a href="URLHERE">Do you know Google?</a>{% endcapture %}
  {% include code.html code=code lang=html %}
</section>

<section>
  <h3>Linking to external URL <i class="fa fa-code"></i></h3>
  {% capture code %}<a href="https://google.com">Do you know Google?</a>{% endcapture %}
  {% include code.html code=code lang=html %}
</section>

<section>
  <h3>Linking to place in same document <i class="fa fa-code"></i></h3>
  {% capture code %}<a href="#myanchor">Do you know Google?</a>
<p id="myanchor">This is where I want the link to go</p>{% endcapture %}
  {% include code.html code=code lang=html %}
</section>

<section>
  <h3>target <i class="fa fa-code"></i></h3>
  {% capture code %}<a href="https://google.com" target="_blank">Do you know Google?</a>{% endcapture %}
  {% include code.html code=code lang=html %}
</section>

<section>
  <h3>text-decoration <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>:hover <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>:visited <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>Styling links as buttons <i class="fa fa-code"></i></h3>
</section>

<!-- Menus
___________________________________________________________________-->

<section>
  <h3>A vertical menu <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>A horizontal menu <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>A dropdown menu <i class="fa fa-code"></i></h3>
</section>