---
layout: slides
---

<section>
  <h2>Text</h2>
</section>


<!-- Headings
___________________________________________________________________-->

<section>
  <h2>Headings</h2>
  {% capture code %}<h1>Heading 1</h1>
<h1>Heading 2</h1>
<h1>Heading 3</h1>
<h1>Heading 4</h1>
<h1>Heading 5</h1>
<h1>Heading 6</h1>
{% endcapture %}
  {% include code.html code=code lang=html %}
</section>

<section>
  <h3>Headings have default weight and margin/padding</h3>
</section>

<section>
  <h3>color <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>font-family <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>font-size <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>font-weight <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>letter-spacing <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>text-align <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>margin and padding <i class="fa fa-code"></i></h3>
</section>


<!-- Paragraphs
___________________________________________________________________-->

<section>
  <h2>Paragraphs</h3>
  {% capture code %}<p>This is a bunch of text. Some of it is <strong>bold</bold> and some of it is <em>italic</em></p>{% endcapture %}
  {% include code.html code=code lang=html %}
</section>

<section>
  <h3>You can use all the styles from the heading section above</h3>
</section>

<section>
  <h3>line-height <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>font-style <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>margin and padding <i class="fa fa-code"></i></h3>
</section>


<!-- Lists
___________________________________________________________________-->


<section>
  <h2>Lists</h2>
</section>

<section>
  <h3>Unordered List</h3>
  {% capture code %}<ul>
  <li>First Item</li>
  <li>Second Item</li>
</ul>
{% endcapture %}
  {% include code.html code=code lang=html %}
</section>

<section>
  <h3>Ordered List</h3>
  {% capture code %}<ol>
  <li>First Item</li>
  <li>Second Item</li>
</ol>
{% endcapture %}
  {% include code.html code=code lang=html %}
</section>

<section>
  <h3>Definition List</h3>
  {% capture code %}<dl>
  <dt>First Term</dt>
    <dd>First Definition</dd>
  <dt>Second Term</dt>
    <dd>Second Definition</dd>
</dl>
{% endcapture %}
  {% include code.html code=code lang=html %}
</section>

<section>
  <h3>list-style-type <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>list-style-position <i class="fa fa-code"></i></h3>
</section>

<!-- Use them all!
___________________________________________________________________-->


<!-- font-face and Google Fonts
___________________________________________________________________-->

<section>
  <h2>Google Web Fonts</h2>
  <h3><a href="https://www.google.com/fonts">google.com/fonts</a> <i class="fa fa-code"></i></h3>
</section>