---
layout: slides
---

<section>
  <h2>Text</h2>
</section>


<!-- Headings
___________________________________________________________________-->

<section>
  <h3>Not that many tags</h3>
</section>

<section>
  <h3>Paragraphs</h3>
  {% capture code %}<p>This is a bunch of text. Some of it is <strong>bold</bold> and some of it is <em>italic</em></p>{% endcapture %}
  {% include code.html code=code lang=html %}
</section>

<section>
  <h3>Headings</h3>
  {% capture code %}<h1>Heading 1</h1>
<h1>Heading 2</h1>
<h1>Heading 3</h1>
<h1>Heading 4</h1>
<h1>Heading 5</h1>
<h1>Heading 6</h1>
{% endcapture %}
  {% include code.html code=code lang=html %}
</section>

<section>
  <h3>Blockquotes</h3>
  {% capture code %}<blockquote>
  This is a great quote
</blockquote>
{% endcapture %}
</section>

<section>
  <h3>Pre and Code</h3>
  {% capture code %}<code>
  // some code here!
</code>
{% endcapture %}
</section>

<section>
  <h3>All have default values</h3>
  <h4>... that you can see in the web developer tools</h4>
</section>


<!-- Changing typography
___________________________________________________________________-->

<section>
  <h2>Typographic layout</h2>
</section>

<section>
  <h3>color <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>background-color <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>font-size <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>font-family <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>font-style <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>font-weight <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>line-height <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>letter-spacing <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>text-align <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>A CSS design using headings, p, and blockquotes</h3>
</section>


<!-- Lists
___________________________________________________________________-->

<section>
  <h2>Lists</h2>
</section>

<section>
  <h3>Unordered List</h3>
  {% capture code %}<ul>
  <li>First Item</li>
  <li>Second Item</li>
</ul>
{% endcapture %}
  {% include code.html code=code lang=html %}
</section>

<section>
  <h3>Ordered List</h3>
  {% capture code %}<ol>
  <li>First Item</li>
  <li>Second Item</li>
</ol>
{% endcapture %}
  {% include code.html code=code lang=html %}
</section>

<section>
  <h3>Definition List</h3>
  {% capture code %}<dl>
  <dt>First Term</dt>
    <dd>First Definition</dd>
  <dt>Second Term</dt>
    <dd>Second Definition</dd>
</dl>
{% endcapture %}
  {% include code.html code=code lang=html %}
</section>

<section>
  <h3>list-style-type <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>list-style-position <i class="fa fa-code"></i></h3>
</section>


<!-- font-face and Google Fonts
___________________________________________________________________-->

<section>
  <h2>Google Web Fonts</h2>
  <h3><a href="https://www.google.com/fonts">google.com/fonts</a> <i class="fa fa-code"></i></h3>
</section>