---
layout: slides
---

<section>
  <h2>Text</h2>
</section>


<!-- Headings
___________________________________________________________________-->

<section>
  <h3>Not that many tags</h3>
</section>

<section>
  <h3>Paragraphs</h3>
  {% capture code %}<p>This is a bunch of text. Some of it is <strong>bold</bold> and some of it is <em>italic</em></p>{% endcapture %}
  {% include code.html code=code lang=html %}
</section>

<section>
  <h3>Headings</h3>
  {% capture code %}<h1>Heading 1</h1>
<h1>Heading 2</h1>
<h1>Heading 3</h1>
<h1>Heading 4</h1>
<h1>Heading 5</h1>
<h1>Heading 6</h1>
{% endcapture %}
  {% include code.html code=code lang=html %}
</section>

<section>
  <h3>Blockquotes</h3>
  {% capture code %}<blockquote>
  This is a great quote
</blockquote>
{% endcapture %}
</section>

<section>
  <h3>Pre and Code</h3>
  {% capture code %}<code>
  // some code here!
</code>
{% endcapture %}
</section>

<section>
  <h3>All have default values</h3>
  <h4>... that you can see in the web developer tools</h4>
</section>


<!-- Changing typography
___________________________________________________________________-->

<section>
  <h2>Typographic layout</h2>
</section>

<section>
  <h3>color <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>background-color <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>font-size <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>font-family <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>font-style <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>font-weight <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>line-height <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>letter-spacing <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>text-align <i class="fa fa-code"></i></h3>
</section>

<section>
  <h3>A <a href="examples/text/typography.html">CSS design</a> using headings, p, and blockquotes</h3>
</section>