body {
  margin: 0;
  padding: 0;
}

.container aside {
  background-color: green;
}

.container main {
  background-color: red;
}

.container footer {
  background-color: blue;
}

@media screen and (min-width: 900px)  {

  .container {
    width: 900px;
    margin: 0 auto;
  }
  
  .container aside {
    float: left;
    width: 300px;
  }
  
  .container main {
    float: right;
    width: 600px;
  }
  
  .container footer {
    clear: both;
  }

}

